<% include ../partials/header %>
<div class="container">

<form method="POST" action="/recipes/<%= data.id %>?_method=PUT">
	<input name="id" type="hidden" value="<%= data.id %>">
  	<div class="form-group">
    	<label><strong>Recipe Name:</strong></label>
    	<input type="text" class="form-control" name="recipe_name" value="<%=data.recipe_name%>">
  	</div>

  	<div class="form-group">
    	<label><strong>Select Cuisine</strong></label>
    	<select name="cuisine_id" class="form-control">
      		<%cuisinesito.forEach(cuisine => { %>
      			<option value="<%=cuisine.id%>" <%=cuisine.id === data.cuisine_id ? 'selected' : '' %>>
        			<%=cuisine.cuisine%>
      			</option>
   			 <%})%>
    	</select>
  	</div>

  	<div class="form-group">
    	<label><strong>Ingredients:</strong></label>
    	<textarea class="form-control" rows="5" name="ingredients" type='"text'>
    		<%=data.ingredients%>
    	</textarea>
  	</div>

  	<div class="form-group">
    	<label><strong>Instructions:</strong></label>
    	<textarea class="form-control" rows="5" name="instructions" type='"text'>
    		<%=data.instructions%>
    	</textarea>
  	</div>

     <button type="submit" value="Save changes">Save Changes</button>
     <button type="reset" value="Reset">Reset</button>
     <button type="cancel" onclick="/recipes">Cancel</button>

</form>
</div>
<%include ../partials/footer%>